<article>
  <div class="article-wrapper">
    <div class="article-header">
      <div id="titles">
        <h3 id="title">{{ markerInfo.information?.title }}</h3>
        <h4 id="address">{{ markerInfo.information?.address }}</h4>
      </div>
      <div id="rating">
        <span id="ratingNumber">{{ markerInfo.information?.rating }}</span>
      </div>
    </div>
    <div class="article-body">
      <p>
        {{ markerInfo.information?.description }}
      </p>
    </div>
    <div class="article-footer">
      <div>Ratings: {{ markerInfo.information?.interactions }}</div>
      <div id="user">
        <div id="userAvatar"></div>
        <div id="username">{{ markerInfo.information?.user?.username }}</div>
      </div>
    </div>
  </div>
</article>
