@import "src/assets/variables.scss";

article {
  margin: 20px 0 20px;
  font-family: $font_typo;
  background-color: $fifth_color;
  color: rgb(124, 124, 124);
  border-radius: 40px;
  width: 95%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .selected {
    border: 3px solid $fifth_color;
    border-radius: 40px;
    background-color: $sixth_color;
  }
  .article-wrapper {
    padding: 20px;
    .article-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px 0 10px;

      #titles {
        display: flex;
        flex-direction: column;
        h3 {
          color: $fourth_color;
          margin-bottom: 5px;
          font-size: 25px;
          text-align: start;
          width: fit-content;
          justify-self: center;
          font-family: $font_typo !important;
          letter-spacing: $font-spacing;
          font-variation-settings: $font-variation-settings-title;
        }
        h4 {
          color: $primary_color;
          font-size: 18px;
          margin-bottom: 5px;
          text-align: start;
          width: fit-content;
          justify-self: center;
          font-family: $font_typo !important;
          letter-spacing: $font-spacing;
          font-variation-settings: $font-variation-settings-title;
        }
      }

      #rating {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: $primary_color;
        display: flex;
        justify-content: center;
        align-items: center;
        #ratingNumber {
          color: white;
          font-family: $font_typo !important;
          letter-spacing: $font-spacing;
          font-variation-settings: $font-variation-settings-title;
          margin: 0 auto;
          font-size: 30px;
        }
      }
    }
    .article-body {
      padding: 10px;
      p {
        font-size: 14px;
        color: rgb(172, 172, 172);
      }
    }
    .article-footer {
      padding: 5px 10px 0 10px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      #user {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #username {
          margin: 0 0 0 10px;
        }
        #userAvatar {
          width: 40px;
          height: 40px;
          border: 2px solid rgb(196, 196, 196);
          border-radius: 100%;
        }
      }
    }
  }
}
