@import "src/assets/variables.scss";

#show-container {
  padding: 100px 5% 150px;
  #page-title {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 50px 40px 35px 30px;
    background-color: $primary_color;
    width: fit-content;
    border-radius: 20px 0 20px 0;
    h1 {
      font-size: $font-title-size;
      color: $secondary_color;
      justify-self: center;
      font-family: $font_typo !important;
      letter-spacing: $font-spacing;
      font-variation-settings: $font-variation-settings-title;
    }
  }
}
