@import "src/assets/variables.scss";

.buttonStructure {
  display: flex !important;
  flex-direction: row !important;
  width: 300px !important;
  font-family: $font_typo !important;
  font-size: $font-element-size;
  font-variation-settings: $font-variation-settings-title;
  padding: 40px;
  background-color: $secondary_color;
}
.acceptButton {
  background-color: $primary_color !important;
  color: $secondary_color !important;
}

#insideButtonLoding {
  width: 50px !important;
  height: 50px !important;
}
