<div id="locations">
  <div id="header">
    <h2 id="title">Locations</h2>
  </div>
  <div id="filters">
    <input type="text" /> || <button>Click</button> ||
    <div>TAG</div>
  </div>
  <div id="list">
    <ng-container *ngIf="!!markers && markers.length > 0">
      <card-component
        *ngFor="let marker of markers"
        (click)="goToCoordMap(marker)"
      ></card-component>
    </ng-container>
  </div>
</div>
<app-map
  *ngIf="!loading"
  [coords]="coords"
  [markers]="markers"
  [selectedMarker]="coords"
  (boundaries)="getBoundaries($event)"
></app-map>
