<app-navbar-component></app-navbar-component>

<div *ngIf="!globalLoading" id="container">
  <div id="locations">
    <div id="header">
      <h2 id="title">Locations</h2>
    </div>
    <div id="filters">
      <form id="form" [formGroup]="searchForm.data">
        <app-component-input-text
          class="input"
          [label]="'searchValue'"
          [formControlName]="'searchValue'"
          [formGroup]="searchForm.data"
        ></app-component-input-text>
        <app-basic-chip-component></app-basic-chip-component>
      </form>
    </div>
    <div id="list">
      <ng-container *ngIf="!loading() && markers() && markers().length > 0">
        <app-card-component
          *ngFor="let marker of markers()"
          [markerInfo]="marker"
          [selected]="
            marker.lat === markerSelected?.lat &&
            marker.lng === markerSelected?.lng
              ? true
              : false
          "
          (click)="manageMarkerSelection(marker)"
        ></app-card-component>
      </ng-container>
      <div *ngIf="!loading() && markers().length === 0">Nothing found</div>
      <ng-container id="loader" *ngIf="loading()">
        <app-mini-loader></app-mini-loader>
      </ng-container>
    </div>
  </div>
  <app-map
    *ngIf="!globalLoading"
    (emitNewLatLng)="goToNewForm($event)"
    (emitSelectedMarkerId)="goToExistingForm($event)"
    (emitSelectedMarkerPopup)="manageMarkerSelection($event)"
    (emitBoundaries)="setBoundaries($event)"
    [coords]="coords()"
    [selectedMarker]="coords()"
    [markers]="markers()"
    [searchValue]="searchForm.data.controls.searchValue.value"
  ></app-map>
</div>
<app-loader-component *ngIf="globalLoading"></app-loader-component>
