<nav>
  <div class="wrapper">
    <img
      src="../../../../assets/icons/logo.png"
      class="logo"
      alt="logo"
      (click)="goTo('')"
      (keyup)="goTo('')"
    />
    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"
        ><i class="fas fa-times"></i
      ></label>
      <li tabindex="1" (keyup)="goTo('')" (click)="goTo('')"><a>Home</a></li>
      <li tabindex="2" (keyup)="goTo('profile')" (click)="goTo('profile')">
        <a>Profile</a>
      </li>
      <li>
        <a href="#" class="desktop-item">Auth</a>
        <input type="checkbox" id="showDrop" />
        <label for="showDrop" class="mobile-item">Auth</label>
        <ul class="drop-menu">
          <li>
            <a tab="4">Login</a>
          </li>
          <li>
            <a tab="5">Register</a>
          </li>
        </ul>
      </li>
      <!-- <li>
        <a href="#" class="desktop-item">Mega Menu</a>
        <input type="checkbox" id="showMega" />
        <label for="showMega" class="mobile-item">Mega Menu</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img
                src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg"
                alt=""
              />
            </div>
            <div class="row">
              <header>Design Services</header>
              <ul class="mega-links">
                <li><a href="#">Graphics</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Business cards</a></li>
                <li><a href="#">Custom logo</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Email Services</header>
              <ul class="mega-links">
                <li><a href="#">Personal Email</a></li>
                <li><a href="#">Business Email</a></li>
                <li><a href="#">Mobile Email</a></li>
                <li><a href="#">Web Marketing</a></li>
              </ul>
            </div> -->
      <!-- <div class="row">
              <ul class="mega-links">
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>-->
    </ul>
    <label for="menu-btn" class="btn menu-btn"
      ><i class="fas fa-bars"></i
    ></label>
  </div>
</nav>
