@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$font_typo: "Inter", sans-serif;
$font-height: 1.1em;
$font-spacing: -0.045em;
$font-variation-settings: "wght" 900;
$desktop_title_size: 50px;
$primary_color: #1e1e24;
$secondary_color: #92140c;
$third_color: #1e1e24;
$fourth_color: #92140c;
