<mat-form-field class="input-field">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    minlength="1"
    maxlength="3"
    min="1"
    max="100"
    type="number"
    [value]="valueControl.value"
    [formControl]="valueControl"
    [id]="id"
    (input)="onTouched()"
    (blur)="onTouched()"
  />
  <mat-slider [id]="id" min="1" max="100" step="1">
    <input
      min="1"
      max="100"
      [value]="valueControl.value"
      [formControl]="valueControl"
      (blur)="onTouched()"
      (input)="onTouched()"
      matSliderThumb
    />
  </mat-slider>
</mat-form-field>
