@use "igniteui-angular/theming" as *;
@use "@angular/material" as mat;
@import "@angular/material/theming";

// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

/* autoprefixer grid: on */

@include core();
@include mat.core();
// @include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);
// CSS Reset, comment out if not required or using a different module
@import "minireset.css/minireset";
@import "src/assets/variables.scss";

/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import "~leaflet-contextmenu/dist/leaflet.contextmenu.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$my-primary: mat.define-palette(mat.$brown-palette, 900);
$my-accent: mat.define-palette(mat.$grey-palette, 900);
$my-warn: mat.define-palette(mat.$red-palette, 900);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include angular-material-theme($my-theme);

html,
body {
  height: 100%;
  background-color: $secondary_color;
}
body {
  margin: 0;
}
