<form id="form" *ngIf="!!flatForm && !loading" [formGroup]="flatForm.data">
  <div class="row">
    <div class="column">
      <h3>Main Info</h3>
      <div formGroupName="information" id="information">
        <div
          *ngFor="
            let item of flatForm.data.controls.information.controls
              | keyvalue : orderByKeyvalue
          "
          [id]="item.key + '-input'"
        >
          <component-input-text
            class="input"
            *ngIf="_formService.isInputText('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-text>
          <component-input-textarea
            class="input"
            *ngIf="_formService.isInputTextarea('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-textarea>
        </div>
      </div>
      <h3>Location</h3>
      <div formGroupName="location" id="location">
        <div
          *ngFor="
            let item of flatForm.data.controls.location.controls
              | keyvalue : orderByKeyvalue
          "
          [id]="item.key + '-input'"
        >
          <component-input-text
            class="input"
            *ngIf="_formService.isInputText('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-text>
          <component-input-number
            class="input"
            *ngIf="_formService.isInputNumber('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-number>
          <component-selector
            class="input"
            *ngIf="_formService.isInputSelector('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-selector>
        </div>
      </div>
      <h3>Specs</h3>
      <div formGroupName="specs" id="specs">
        <div
          *ngFor="
            let item of flatForm.data.controls.specs.controls
              | keyvalue : orderByKeyvalue
          "
          [id]="item.key + '-input'"
          class="input"
        >
          <component-input-number
            *ngIf="_formService.isInputNumber('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-number>
        </div>
      </div>
      <h3>Others</h3>
      <div formGroupName="others" id="others">
        <div
          *ngFor="
            let item of flatForm.data.controls.others.controls
              | keyvalue : orderByKeyvalue
          "
          [id]="item.key + '-input'"
          class="input"
        >
          <component-input-number
            *ngIf="_formService.isInputNumber('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-number>
          <component-input-checkbox
            *ngIf="_formService.isInputCheckbox('flat', item.key)"
            [required]="_formService.isInputRequired('flat', item.key)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-checkbox>
        </div>
      </div>
    </div>
    <div class="column">
      <div id="imageCont"></div>
      <h3>Ratings</h3>
      <div formGroupName="rating" id="rating">
        <div
          *ngFor="
            let item of flatForm.data.controls.rating.controls
              | keyvalue : orderByKeyvalue
          "
          [id]="item.key + '-input'"
          class="input"
        >
          <component-input-slider
            (emitChange)="updateTotalRatingValue($event)"
            [id]="item.key"
            [formControlName]="item.key"
            [label]="item.key"
          ></component-input-slider>
        </div>
      </div>
    </div>
  </div>
</form>
<div id="buttonBar" class="row">
  <div class="button">
    <component-generic-button
      [label]="'Cancel'"
      [loading]="false"
    ></component-generic-button>
  </div>
  <div class="button">
    <component-generic-button
      [disabled]="false"
      [loading]="false"
      (click)="validateForm()"
    ></component-generic-button>
  </div>
</div>
