#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    .column {
      display: flex;
      flex-direction: column;
      width: 50%;
      .subtitle {
        margin-top: 40px;
        background-color: black;
        width: fit-content;
        padding: 20px 20px 5px 20px;
        border-radius: 10px 0 10px 0;
        h3 {
          font-size: 40px;
          color: orangered;
        }
      }
      .section {
        margin: 20px 0 20px;
      }
      #imageCont {
        width: 100%;
        height: 600px;
        max-height: 600px;
        // border: 1px solid black;
      }
    }
  }
  #buttonBar {
    justify-self: center;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    margin-top: 30px;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .button {
      margin: 0 10px 0 10px;
    }
  }
}

#location,
#specs,
#others {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#rating {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#street-input {
  width: 20%;
}
#address-input {
  width: 80%;
}

#number-input {
  width: 30%;
}
#floor-input {
  width: 30%;
}
#door-input {
  width: 30%;
}
#zip-input {
  width: 30%;
}

#block-input {
  width: 30%;
}
#gate-input {
  width: 30%;
}
#city-input {
  width: 50%;
}

#state-input {
  width: 50%;
}
#country-input {
  width: 50%;
}
#lng-input {
  width: 50%;
}
#lat-input {
  width: 50%;
}
#buildingYear-input {
  width: 50%;
}
#floorsNumber-input {
  width: 50%;
}
#elevator-input {
  width: 50%;
}
#accessibility-input {
  width: 50%;
}
#furnituresIncluded-input {
  width: 50%;
}
#contractByRealState-input {
  width: 50%;
}
#balcony-input {
  width: 50%;
}
#yard-input {
  width: 50%;
}
#total-input {
  width: 100%;
}
#price-input {
  width: 48%;
}
#clearfull-input {
  width: 48%;
}
#modern-input {
  width: 48%;
}
#amenities-input {
  width: 48%;
}
#publicTransport-input {
  width: 48%;
}
#neighbours-input {
  width: 48%;
}
#neighbourhood-input {
  width: 48%;
}
#building-input {
  width: 48%;
}
#tenantment-input {
  width: 48%;
}
#realState-input {
  width: 48%;
}
#views-input {
  width: 50%;
}
// #firstPricevalue-input,
// #firstPricedate-input,
// #currenttPricevalue-input,
// #currentPricedate-input {
//   width: 50%;
// }
#firstPriceRow,
#currentPriceRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.inputHalf {
  width: 100%;
}
